.base {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}

.views {
    display: flex;
    padding: 0 60px;
    height: calc(100% - 30px);
    overflow: auto;
}
